<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Predict</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .bar {
        margin: 0px;
        padding: 20px;
        background-color: white;
        opacity: 0.6;
        color: black;
        font-family: "Roboto", sans-serif;
        font-style: italic;
        border-radius: 20px;
        font-size: 25px;
      }
      a {
        color: grey;
        float: right;
        text-decoration: none;
        font-style: normal;
        padding-right: 20px;
      }
      body {
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse" style="padding: 10px">
      <div
        class="container-fluid"
        style="display: flex; justify-content: space-between; width: 100%"
      >
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Water Quality Prediction</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/about">Home</a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/predict">Predict</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="content" style="margin-top: 2em">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
