{% extends "base.html" %} {% block content %}

<h2 style="margin-bottom: 20px">
  <center>Water Quality Predictor</center>
</h2>
<div>
  <form
    id="predict"
    method="post"
    action="/predict"
    style="display: flex; justify-content: center"
  >
    <center style="margin-top: 50px">
      <div style="display: flex; width: 500px; justify-content: space-between">
        <div>
          <input
            type="text"
            name="do"
            class="form-control form-control-lg"
            id=""
            placeholder="Enter D.O"
            style="display: block"
          />
          <br />

          <input
            type="text"
            name="ph"
            class="form-control form-control-lg"
            id=""
            placeholder="Enter PH"
            style="display: block"
          />
          <br />

          <input
            type="text"
            name="co"
            class="form-control form-control-lg"
            id=""
            placeholder="Enter Conductivity"
            style="display: block"
          />
          <br />
        </div>
        <div>
          <input
            type="text"
            name="bod"
            id=""
            class="form-control form-control-lg"
            placeholder="Enter B.O.D"
            style="display: block"
          />
          <br />

          <input
            type="text"
            name="na"
            id=""
            class="form-control form-control-lg"
            placeholder="Enter Nitratenen"
            style="display: block"
          />
          <br />

          <input
            type="text"
            name="tc"
            id=""
            class="form-control form-control-lg"
            placeholder="Enter Total Coliform"
            style="display: block"
          />
          <br />
        </div>
      </div>

      <br />
      <input class="btn btn-primary" type="submit" value="Submit" />
    </center>
  </form>
  <script />
</div>

{% endblock %}
