{% extends "base.html" %} {% block content %}

<h2 style="margin-bottom: 20px">
  <center>Water Quality Predictor</center>
</h2>
<div>
  <form id="predict" method="post" action="/predict">
    <center>
      <input
        type="text"
        name="do"
        id=""
        placeholder="Enter D.O"
        style="display: block"
      />
      <br />

      <input
        type="text"
        name="ph"
        id=""
        placeholder="Enter PH"
        style="display: block"
      />
      <br />

      <input
        type="text"
        name="co"
        id=""
        placeholder="Enter Conductivity"
        style="display: block"
      />
      <br />

      <input
        type="text"
        name="bod"
        id=""
        placeholder="Enter B.O.D"
        style="display: block"
      />
      <br />

      <input
        type="text"
        name="na"
        id=""
        placeholder="Enter Nitratenen"
        style="display: block"
      />
      <br />

      <input
        type="text"
        name="tc"
        id=""
        placeholder="Enter Total Coliform"
        style="display: block"
      />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </center>
  </form>
  <script />
</div>

{% endblock %}
